/* Mobile Version */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  margin: 10px;
}


h3, h2 {
  text-transform: uppercase;
  font-weight: 200;
}

h3 {font-size: 20px;}

h2 {font-size: 27px;}

hr {
  width: 10%;
  margin: 30px auto;
}

header {
  height: 10vh;
  background-color: #ebebeb;
}

#logo {
  display: none;
}

#hamburger-menu {
  position: absolute;
  top: 40px;
  right: 40px;
}

#hamburger-menu img {
  height: 35px;
}

header nav {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10vh;
  display: none;
   
}

#navigation a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(61, 60, 60);
  font-size: 17px;
  border-bottom: 1px solid;
  text-align: center;
}

#navigation a:hover {
  color: rgb(6, 141, 6);
}

.show {
  display: flex;
 
}


/* Section One */

.one {
  height: 150vh;
  background: url(./img/plant-1.jpg);
  background-size: cover;
  background-position: 20% 80%;
  text-align: center; 
  
}

.one h1 {
  padding-top: 150px;
  text-transform: uppercase;
  font-size: 65px;
  color: rgb(61, 60, 60);
}



/* Section Two - Boxes */

#two {
  height: 200vh;
  text-align: center;
  margin: 10px 0;
  padding: 50px 20px;
  background-color: #ebebeb; 
}

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  height: 30%;
  display: block;
  background-color: #fff;
  margin: 5px;
}


.img-1, .img-2, .img-3 {
  height: 55%;
  width: 100%;
  background-size: cover;
}

.img-1 {
  background-image: url('./img/vert4.jpg');
}

.img-2 {
  background-image: url('./img/vert2.jpg');
}

.img-3 {
  background-image: url('./img/vert3.jpg');
}

.text {
  height: 45%;
  /* padding: 90px 30px; */
  position: relative;
  bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.text p {
  padding: 0 15px;
}

/* Section About */

#about {
  height: 170vh;
}

.about-img {
  height: 50%;
  background: url(./img/about.jpg);
  background-size: cover;
}

.about-text {
  padding: 30px;
  height: 50%;
  text-align: center; 
  line-height: 2;
}

.about-text p {
  text-align: justify;
}

/* Subscribe Section */

#subscribe {
  padding: 50px 0;
  background-color:  #ebebeb;
  text-align: center; 
}

#subscribe p {
  padding: 20px 0;
}

input {
  display: block;
  margin: 15px auto;
  width: 70%;
  height: 40px;
  border: 1px solid rgb(223, 219, 219);
}

#subscribe .btn {
  width: 70%;
  height: 34px;
  font-family:  'Questrial', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 1px solid rgb(61, 60, 60);
  cursor: pointer;
}

#subscribe .btn:hover {
  border: 2px solid rgb(2, 61, 2);
  color: rgb(2, 61, 2);
  font-weight: 500;
}

/* Footer */

footer {
  height: 20vh;
}

footer nav a {
  padding: 20px 0; 
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000; 
}

footer nav a:hover {
  color: rgb(6, 141, 6);
}

.social {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  
}

.social a {
  background-color: rgb(61, 60, 60);
  color: #fff;
  padding: 8px 5px;
  margin: 0 5px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.social a:hover {
  background-color: rgb(2, 61, 2);
  transform: rotate(25deg);
}

/* Responsive Design Break PointS */

@media screen and (min-width: 600px) {
  p {font-size: 20px;}

  .img-1, .img-2, .img-3 {
    height: 65%;
  }

  .text {
    height: 35%;
  }

  #about {height: 120vh;}
}
/* na ovoj sirini resize-ovati i submit btn */

 
@media screen and (min-width: 768px) {

  h3 {font-size: 25px;}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #hamburger-menu {
    display: none;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  #navigation a, #logo {   
    padding: 25px;
    letter-spacing: 2px;
    color: rgb(61, 60, 60);
  }

  #navigation a {
    font-size: 22px;
  }

  #navigation a:nth-child(-n+2) {
    border-bottom: none;
  }

  #navigation a:last-child {
    border-bottom: 2px solid rgb(61, 60, 60);
  }

  #navigation a:hover {
    color: rgb(6, 141, 6); 
  }

  #logo {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .border {
    border: 2px solid rgb(61, 60, 60);
  }

   /* End of Header Section */

  .one h1 {font-size: 80px;}

 
  #two {
    padding: 150px 0 250px 0;
  }

  #two .wrap {
    display: flex;
  }

  #two .box {
    padding: 0 20px;
  }


  .img-3 {
    background-position: top 500px;
  }
  .about-img {
    background-position: left;
  }

  /* srediti boxeve fleksom */

  input {
    width: 30%;
  }
  .btn {
    width: 15%;
  }

  footer {
    height: 10vh;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-nav a {
    padding: 15px;
  }

  .social {
    padding: 25px;
  }
}



/*
@media screen and (min-width: 1000px) {

  h3 {font-size: 30px;} */

  /* Section One */
/*
  .one {
    height: 100vh;
    /* padding-top: 80px; 
  }
  
  .one h1 {
    font-size: 100px;
  }
 /* Section Two - Boxes 

 #two {
  padding-top: 100px;
 }

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;  
}

.box {
  height: 1000px;
  margin: 0 10px; 
}

.text {
  background-color: #fff;
}

/* About Section 

#about {
  display: flex;
}

.about-img {
  width: 50%;
  height: 100%;
}

.about-text {
  width: 50%;
  padding: 250px 50px;
}

/* Subscribe Section 

#subscribe {
  padding: 100px;
}
}
*/